body {
    padding: 2em;
}
button {
    display: inline-block;
    padding: .5em, .75em;
    border: 0;
    font-size: 2em; 
    background-color: dodgerblue;
    animation: change-color 1.5s ease-out;
    animation-play-state: paused;
}